.info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
}
.propiedades{
  font-size: 30px;
}
.imagen{
  width: 200px;
  
}
.Titulo{
    text-align: center;
}